{% extends "auctions/layout.html" %}
{% load static %}


{% block content %}

    <div id="card-content">
        <div id="card-background">
            <img src="{% static 'auctions/Images/card.png' %}">
        </div>
    </div>

{% endblock %}

{% block body %}

    {% for list in listings %}
        <div id="l-c"> <!--Listing Cards-->
            <div id="c-c"> <!--Card Content-->

                <div id="c-img">
                    <div>
                        <a href="{% url 'listingpage' list.id %}">
                            <img src="{{ list.image }}">
                        </a>        
                    </div>
                </div>

                <div id="c-title">
                    <a href="{% url 'listingpage' list.id %}">
                        {{ list.title }}
                    </a>
                </div>

                <div id="c-description">
                    "{{ list.description }}"
                </div>

                <div id="c-seller">
                    Seller: {{ list.user }}
                </div>

                <div id="c-bid">
                    ${{ list.starting_bid }}
                </div>

            </div>
        </div>
    {% endfor %}

{% endblock %}